* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #2E9CCA;
  color: #464866;
  padding-top: 10vh;
}

li {
  list-style: none;
}

a {
  color: #C1C8E4;
}
a:hover, a:focus {
  color: #C1C8E4;
  text-decoration: none;
}

h1 {
  color: #C1C8E4;
  text-align: center;
  margin-top: 4%;
  font-size: 412.5%;
}
h1 > small {
  display: block;
  color: #AAABB8;
}
h1 .logo {
  font-size: 230%;
  font-family: "Brush Script MT", cursive;
  width: 200px;
  margin-left: -20px;
}

h2 {
  font-size: 245%;
  margin-top: 140px;
}
h2:after {
  display: block;
  margin: 42px 0;
  content: "";
}

h3 {
  font-weight: bold;
}

h4 {
  font-size: 92%;
}

h6 {
  color: #F0F0F0;
}

.noir {
  display: block;
  background-color: black;
  padding: 18px;
  border: 3px solid #C1C8E4;
}

.vertical-list li {
  float: left;
}

.blue-border {
  border: 2px solid #114190;
}

.magenta-border {
  border: 2px solid #e11a61;
}

.purple-border {
  border: 2px solid #9d1098;
}

.red-border {
  border: 2px solid #9d102b;
}

.overflow {
  overflow: hidden;
}

.overlay {
  background-color: rgba(4, 14, 22, 0.83);
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
}

.welcome {
  padding-top: 10vh;
}
.welcome p {
  padding: 35vh 20vh 10vh;
  text-align: justify;
  font-size: 1.3em;
}
.welcome h1 {
  padding: 8vh 10vh 0vh;
}

.description span {
  margin-left: 10px;
}
.description .tools {
  margin-top: 20px;
  overflow: hidden;
}
.description li {
  margin-top: 5px;
  background-color: #114190;
  margin-right: 10px;
  padding: 10px;
  color: #C1C8E4;
}

#portfolio {
  padding-bottom: 80px;
}
#portfolio h2 {
  color: #C1C8E4;
  margin-bottom: 40px;
  text-align: center;
}
#portfolio h3 {
  color: #C1C8E4;
  margin-bottom: 40px;
  text-align: center;
}
#portfolio .row {
  margin: 0px;
  box-sizing: border-box;
  padding: 0 60px;
}
#portfolio .description {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
}
#portfolio .description > * {
  display: none;
  font-size: 90%;
}
#portfolio p {
  color: #C1C8E4;
  margin-bottom: 30px;
  line-height: 230%;
}
#portfolio p, #portfolio .tools {
  width: 100%;
}
#portfolio div section {
  cursor: pointer;
}
#portfolio div:nth-child(even) section {
  background-color: #25274D;
  padding: 10px;
  border: 3px solid #464866;
}
#portfolio img {
  width: 100%;
}
#portfolio section {
  height: 100%;
  margin-bottom: 20px;
  width: 50%;
  float: left;
}
#portfolio section:hover .overlay img {
  opacity: 0;
  transition: opacity 0.32s;
}
#portfolio section:hover .overlay .description > * {
  display: block;
}
#portfolio section:hover .overlay .heading {
  visibility: hidden;
}
#portfolio section:hover .overlay a .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
#portfolio section:hover .description {
  top: 100px;
  transition: top 0.5s;
}
#portfolio .overlay {
  position: relative;
  padding-bottom: 0px;
  overflow: auto;
}
#portfolio .overlay .heading {
  color: #C1C8E4;
  padding: 15px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 2px;
}
#portfolio .overlay .heading span {
  color: #635757;
  display: block;
  margin: 40px 0px;
  font-size: 200%;
}
#portfolio .description h4 {
  color: white;
}

#contact a {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.5em;
}
#contact .container {
  text-align: center;
  margin-bottom: 40px;
}
#contact p {
  text-align: center;
  font-size: 2em;
}
#contact h1 {
  font-size: 3em;
}

.copyright p {
  font-size: 0.8em;
}

.navbarClass {
  overflow: hidden;
  background-color: #25274D;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  text-align: center;
  display: -webkit-flex;
  -webkit-flex-flow: row-reverse wrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 2;
}
.navbarClass a {
  float: left;
  display: block;
  color: #2E9CCA;
  text-align: center;
  padding: 0.875em 1em;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbarClass a:hover {
  background: #2E9CCA;
  color: #25274D;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  #portfolio [class^=col] section {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    min-height: 400px;
  }
  #portfolio [class^=col] section.overlay {
    width: 100%;
    height: auto;
  }
  #portfolio [class^=col] section img {
    width: 100%;
    height: auto;
  }
  #portfolio [class^=col] section section:hover .overlay .heading span {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 70px;
    left: -240px;
    position: relative;
  }
}
@media screen and (max-width: 990px) {
  #portfolio h2 {
    font-size: 200%;
  }
  #portfolio h3 {
    font-size: 150%;
  }
  #portfolio .description > * {
    font-size: 75%;
  }
}
@media screen and (max-width: 790px) {
  .welcome p {
    padding: 35vh 10vh 10vh;
  }
  .welcome h1 {
    font-size: 3em;
    padding: 15vh 10vh 5vh;
  }

  #portfolio body {
    font-size: 14px;
    text-align: center;
  }
  #portfolio h2 {
    margin-top: 60px;
  }
  #portfolio input {
    text-align: center;
  }
  #portfolio .description > * {
    font-size: 85%;
  }
  #portfolio .description p {
    margin-top: 40px;
  }
  #portfolio section {
    font-size: 10px;
    min-height: 328.2px;
  }
  #portfolio section:hover .description {
    top: 30px;
  }
  #portfolio p, #portfolio h6 {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .social-links {
    width: 100%;
  }
  .social-links li {
    display: block;
    width: 100%;
  }

  h1 {
    font-size: 300%;
  }
}

/*# sourceMappingURL=main.css.map */
